# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3
media/

# Virtual environment
venv/
env/

# Node
node_modules/
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db